@import "~bootstrap/scss/bootstrap";

.sidebar .nav-link {
  color: #333;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  .feather {
    color: #646464;
    font-size: 20px;
    margin-right: 12px;
  }

  &:hover {
    .feather {
      color: #333;
    }
  }
}

.habit-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  animation-duration: .2s !important;

  &__check-in-circle {
    display: flex;
    align-items: center;
    font-size: 27px;
    margin-right: 15px;
  }

  &:hover {
    background-color: $light;
  }
}

.new-habit-button {
  height: 45px;
  width: 45px;
  font-size: 20px;
}

.main-content {
  padding-left: 290px;
}

.form-auth {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-auth .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.profile {
  .dropdown-menu {
    padding: 0;
    width: 290px;

    .dropdown-item {
      padding: 15px;
      display: flex;
      align-items: center;

      &__icon {
        font-size: 18px;
        width: 30px;
        text-align: center;
        margin-right: 5px;
      }

      &__text {
        flex-grow: 1;
      }
    }

    .dropdown-divider {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-content {
    padding-left: 0;
  }
}
